<a href="/admin/{{pageSlug}}">Назад</a>
<hr />

<form
  action="/admin/{{pageSlug}}/{{blockSlug}}"
  method="POST"
  enctype="multipart/form-data"
  id="block_form"
>

  <div id="radio_container">
    <input type="radio" id="blockType1" name="blockType" value="image"
	  {{#if (isImage blockType)}}
	  checked
	  {{/if}}
	/>
    <label for="blockType1">Изображение</label>

    <input type="radio" id="blockType2" name="blockType" value="text"
	  {{#if (isText blockType)}}
	  checked
	  {{/if}}
	/>
    <label for="blockType2">Текст</label>

    <input type="radio" id="blockType3" name="blockType" value="gallery"
	  {{#if (isGallery blockType)}}
	  checked
	  {{/if}}
	/>
    <label for="blockType3">Галлерея</label>
  </div>
  <hr />

  {{#each blockElems}}
    <fieldset id="fieldset">
	  <!-- <legend>{{this.slug}}</legend> -->
	  <legend>
	     	<input type="text" name="element-slug" readonly value="{{this.slug}}" />
	 </legend>
	  <button id="upElemBttn {{this.slug}}" class="upElemBttn">Вверх</button>
	  <button id="downElemBttn {{this.slug}}" class="downElemBttn">Вниз</button>
	  <hr/>
	  <input type="file" id="element-{{this.slug}}" name="element-image" accept="image/*" />
      <textarea
        name="desc"
        form="block_form"
        placeholder="desc"
      >{{this.desc}}</textarea>
	  <hr/>
	  <button id="deleteElemBttn {{this.slug}}" class="deleteelemBttn">Удалить элемент</button>
    </fieldset>
  {{/each}}

  <div id="button_container">
    <hr />
    <button id="addElemBttn">Добавить элемент</button>
  </div>

  <div>
    <hr />
    <button type="submit" form="block_form" value="submit">Сохранить</button>
    <button id="deleteBlockBttn">Удалить блок</button>
  </div>
</form>

<script src="/script/constructor_block.js"></script>
