<a href="/admin/{{pageSlug}}">Назад</a>
<hr />

<form
  action="/admin/{{pageSlug}}/{{blockSlug}}"
  method="POST"
  enctype="multipart/form-data"
  id="block_form"
>

  <div id="radio_container">
    <input type="radio" id="blockType1" name="blockType" value="image"
	  {{#if (isImage blockType)}}
	  checked
	  {{/if}}
	/>
    <label for="blockType1">Изображение</label>

    <input type="radio" id="blockType2" name="blockType" value="text"
	  {{#if (isText blockType)}}
	  checked
	  {{/if}}
	/>
    <label for="blockType2">Текст</label>

    <input type="radio" id="blockType3" name="blockType" value="gallery"
	  {{#if (isGallery blockType)}}
	  checked
	  {{/if}}
	/>
    <label for="blockType3">Галлерея</label>
  </div>
  <hr />

  {{#each blockElems}}
    <fieldset id="fieldset">
	  <legend>
	     	<input type="text" name="element-slug" readonly value="{{this.slug}}" />
	 </legend>
	  <button id="upElemBttn {{this.slug}}" class="upElemBttn">Вверх</button>
	  <button id="downElemBttn {{this.slug}}" class="downElemBttn">Вниз</button>
	  <hr/>
	  	<div id="img-container_{{this.slug}}" class="img-container" >
    		{{#if (is-image img)}}
    			<img src={{base64 this.img}} alt="изображение элемента" />
	  			<br/>
	  			<hr/>
			{{/if}}
		</div>
	  <button id="deleteImgBttn {{this.slug}}" class="deleteImgBttn">Удалить изобажение</button>
	  <hr/>
	  <input type="file" id="img-input_{{this.slug}}" class="input_elem-img" name="input_elem-img" accept="image/*" />
	  <br/>
      <textarea
        name="desc"
        form="block_form"
        placeholder="desc"
      >{{this.desc}}</textarea>
	  <br/>
	  <hr/>
	  <button id="deleteElemBttn {{this.slug}}" class="deleteElemBttn">Удалить элемент</button>
    </fieldset>
  {{/each}}

  <div id="button_container">
    <hr />
    <button id="addElemBttn">Добавить элемент</button>
  </div>

  <div>
    <hr />
    <button type="submit" form="block_form" value="submit">Сохранить</button>
    <button id="deleteBlockBttn">Удалить блок</button>
  </div>
</form>

<script src="/script/constructor_block.js"></script>
<script src="/script/block_input.js"></script>
