<a href="/admin">Назад</a>
<hr />
<form
  action="/admin/{{slug}}"
  method="POST"
  enctype="multipart/form-data"
  id="form"
>
  <!-- <form> -->
  <fieldset id="fieldset">
    <legend>Мета-информация</legend>
      <img src={{base64 img}} alt="обложка страницы" />
    <br /><br />

    <label for="title">title</label>
    <input type="text" name="title" placeholder="Заголовок" value="{{title}}" />
    <br /><br />

    <label for="desc">desc</label>
    <textarea name="desc" form="form" placeholder="Описание">{{desc}}</textarea>
    <br /><br />

    <label for="cover">cover</label>
	<input type="file" id="cover-{{slug}}" name="cover" accept="image/*" />
  </fieldset>
  <hr />

  <div>
    {{#each blocks}}
      <fieldset>
		  <legend><a href="/admin/{{../slug}}/{{slug}}">{{slug}} • {{type}}</a></legend>
		  {{#each this.elements}}
		  	{{slug}}
    			{{#if (is-image this.img)}}
      				<img src={{base64 this.img}} alt="изображение элемента" />
				{{/if}}
		  	{{desc}}
			</br>
		  {{/each}}
      </fieldset>
      <hr />
    {{/each}}
  </div>

  <span>
    <a href="{{slug}}/block/create">Добавить блок</a>
  </span>
  <hr />

  <button type="submit" form="form" value="Submit">Сохранить</button>
  <button id="deleteBttn">Удалить</button>

</form>

<script src="/script/constructor_page.js"></script>
