<a href="/admin">Назад</a>
<hr />
<form
  action="/admin/{{slug}}"
  method="POST"
  enctype="multipart/form-data"
  id="form"
>
  <!-- <form> -->
  <fieldset id="fieldset">
    <legend>Мета-информация</legend>

    <label for="title">title</label>
    <input type="text" name="title" placeholder="Заголовок" value="{{title}}" />
    <br /><br />

    <label for="desc">desc</label>
    <textarea name="desc" form="form" placeholder="Описание">{{desc}}</textarea>
    <br /><br />

    <label for="cover">cover</label>
    <input type="file" id="cover" name="cover" accept="image/*" />
  </fieldset>
  <hr />

  <div>
    {{#each blocks}}
      <fieldset>
        <legend><a href="/admin/{{../slug}}/{{slug}}">{{slug}}</a></legend>
      </fieldset>
      <hr />
    {{/each}}
  </div>

  <span>
    <a href="{{slug}}/image/create">Изображение</a>
    <a href="{{slug}}/text/create">Текст</a>
    <a href="{{slug}}/gallery/create">Галлерея</a>
  </span>
  <hr />

  <button type="submit" form="form" value="Submit">Сохранить</button>
  <!-- <button id="saveBttn">Сохранить</button> -->
  <button id="deleteBttn">Удалить</button>

</form>

<script src="/script/constructor.js"></script>
