<a href="/admin/{{pageSlug}}">Назад</a>
<hr />

<form
  action="/admin/{{pageSlug}}/{{blockSlug}}"
  method="POST"
  enctype="multipart/form-data"
  id="image_form"
>

  <!-- {{#each elements}} -->
  <!--   <fieldset id="fieldset"> -->
	  <!--     <legend>{{blockType}}</legend> -->
  <!--  -->
  <!--     <input type="file" name="image" accept="image/*" /> -->
  <!--     <textarea -->
  <!--       name="desc" -->
  <!--       form="image_form" -->
  <!--       placeholder="desc" -->
  <!--     >{{this.desc}}</textarea> -->
  <!--   </fieldset> -->
  <!-- {{/each}} -->

  <div id="button_container">
    <hr />
    <button id="addImageBttn">Добавить элемент</button>
  </div>

  <!-- <div> -->
  <!--   <hr /> -->
  <!--   <input type="submit" value="Сохранить" /> -->
  <!--   <input type="submit" value="Удалить" /> -->
  <!-- </div> -->
  <div>
    <hr />
    <!-- <button id="saveBlockBttn">Сохранить</button> -->
    <input type="submit" value="Сохранить" />
    <button id="deleteBlockBttn">Удалить</button>
  </div>
</form>

<script src="/script/constructor_block.js"></script>
