<button>Назад</button>
<hr />
<div class="ticker">
  <h1>Header</h1>
  <a href="/admin/header">Редактировать</a>

  <br />
  <br />

  <h2>{{header.title}}</h2>

  {{#each header.elements}}
	{{#if (is-image this.img)}}
  		<img src={{base64 this.img}} alt="header background" />
	{{else}}
  		<h2>Нет изображения</h2>
	{{/if}}
  {{/each}}
</div>
<div class="projects">
  <h1>Progects</h1>
  {{#each pages}}
	{{> admin_index_page}}
  {{/each}}
  <a href="/admin/create">Создать страницу</a>
  <br />
  <a href="/admin/clear">Удалить все страницы</a>
</div>
<div class="footer">
  <h1>Footer</h1>
  <a href="/admin/footer">Редактировать</a>

  <br />
  <br />

  {{#each footer.groups}}
  	<div>
  		{{> admin_footer_group this=this}}
  	</div>
  {{/each}}

  <br />
  <br />

	{{#if (is-image footer.img)}}
  		<img src={{base64 footer.img}} alt="footer background" />
	{{else}}
  		<h2>Нет изображения</h2>
	{{/if}}


</div>
