<div id="{{this.id}}" class="element-container client dynamic_element">
  <div class="element_abs-container">
    <div class="element_text-container mono">
      <h1><a href="admin/{{this.id}}">{{this.title}}</a></h1>
      <p>{{this.desc}}</p>
    </div>

	{{#if @partial-block}}
    	<div class="element_control-container">
			{{> @partial-block }}
    	</div>
	{{/if}}
  </div>

  <div
    id="{{this.id}}"
    class="element_img-container"
    style="border-color: {{this.color}}"
  >
	{{> (image . 'thumbnail')}}
  </div>
</div>
