<fieldset id="{{this.id}}" class="element-container">
	<div class="element_abs-container" >
		<div class="element_control-container">
			{{> ui/button_move this}}
  			<input type="text" name="element-slug" class="mono" readonly value="{{this.id}}" />
			{{> ui/button_small text="✕" class="element-remove"}}
		</div>
		<div class="element_text-container mono">
			<h1><a href="admin/{{this.id}}">{{this.title}}</a></h1>
			<p>{{this.desc}}</p>
		</div>
	</div>

    {{#if (is-image this.img)}}
      <div class="element_img-container">
	  	{{> ui/input_file image=this.img name="page" elemSlug=this.slug}}
      </div>
    {{else}}
      <div class="element_img-container empty">
        <h1>Empty</h1>
        <h1>Empty</h1>
        <h1>Empty</h1>
        <h1>Empty</h1>
        <h1>Empty</h1>
        <h1>Empty</h1>
        <h1>Empty</h1>
        <h1>Empty</h1>
        <h1>Empty</h1>
        <h1>Empty</h1>
      </div>
    {{/if}}
</fieldset>
