<fieldset id="{{this.id}}" class="dynamic_element element-container admin">
  <div class="element_abs-container">
	{{#if @partial-block}}
    	<div class="element_control-container">
			{{> @partial-block }}
    	</div>
	{{/if}}

    <div class="element_text-container mono">
      <input
		class="element_title-input"
        type="text"
        name="title"
        value="{{this.title}}"
        placeholder="title"
      />
      <textarea class="element_text-input" placeholder="text" name="text">{{this.text}}</textarea>
    </div>
  </div>

  <div
    id="{{this.id}}"
    class="element_img-container border"
  >
    <label class="element_img-container element_file-label">
      <input
        type="file"
        id="{{id}}"
        class="element_file-input"
		style="object-fit: {{this.objectFit}}"
        name="image"
        accept="image/*"
        hidden
      />
	  {{> (image . 'thumbnail')}}
    </label>
  </div>
</fieldset>
