<fieldset id="{{this.id}}" class="dynamic_element element-container admin">
  <div class="element_abs-container">
	{{#if @partial-block}}
    	<div class="element_control-container">
			{{> @partial-block }}
    	</div>
	{{/if}}

    <div class="element_text-container mono">
      <input
        type="text"
        name="title"
        value="{{this.title}}"
        placeholder="title"
      />
      <textarea placeholder="desc" name="desc">{{this.desc}}</textarea>
    </div>
  </div>

  <div
    id="{{this.id}}"
    class="element_img-container"
    style="border-color: {{this.color}}"
  >
    <label class="element-container element_file-label">
      <input
        type="file"
        id="{{id}}"
        class="element_file-input"
        name="image"
        accept="image/*"
        hidden
      />
      {{#if (is-image this.img)}}
        <img src={{base64 this.img}} alt="element image" />
      {{else}}
        <img src="/assets/empty.png" />
      {{/if}}
    </label>
  </div>
</fieldset>
