<header class="header">

	{{#if @partial-block}}
		<div class="header_control-container menu-wrapper wrapper grid-main">
			{{> @partial-block }}
		</div>
	{{/if}}

  	<div class="header_title">
	  	<div class="header_letter-container" style="color: {{this.color.current}}; mix-blend-mode: {{this.mixBlendMode}}" >
			{{{this.markup}}}
	  	</div>
  	</div>

  	<div class="header_bcg-container">
        <div class="header_bcg-image"  >
			<img src={{base64 this.gif}} alt="header background" style="object-fit: {{this.objectFit}}" />
        </div>
	</div>
</header>
