<form action="/admin/{{this.id}}/meta" method="post" enctype="multipart/form-data" id="{{this.id}}" class="menu-wrapper wrapper grid-4 meta dynamic_element">

	<div class="element-container meta-container" >
		<!-- <input type="text" readonly value="{{this.id}}" placeholder="id"> -->
		<input type="text" name="title" value="{{this.title}}" placeholder="title">
		<textarea placeholder="text" name="text">{{this.text}}</textarea>
		<div class="royal-pattern" ></div>
			{{>ui/radio.big checked=(radio_check "cover") class="cover" text="Cover" name="objectFit" value="cover"}}
			{{>ui/radio.big checked=(radio_check "contain") class="contain" text="Contain" name="objectFit" value="contain"}}
	</div>

	<div class="element-container element-container_group" >
		{{>ui/input.file this}}
		<div class="meta_color-container">
			{{>ui/input.color this}}
			<div class="mono" style="display: flex; justify-content: center;align-items: center; color: var(--black);" >*</div>
			<div class="meta_color-other-container">
				<div class="main" >
					{{#each this.color.other}}
						<div class="element_other-color" style="background-color: rgba({{this}});"></div>
					{{/each}}
				</div>
				<div class="contrast" >
					{{#each this.color.other}}
						<div class="element_other-color" style="background-color: rgba({{this}});"></div>
					{{/each}}
				</div>
			</div>
		</div>
  		{{> element.client this }}
	</div>

  	{{> element.client this }}

	<div class="element-container meta-container">
		{{>ui/button.big class="save-meta" text="save-meta"}}
		<div class="royal-pattern" ></div>
	</div>

</form>
